body{
    margin: 0%;
    background-color: #141414;
    font-family:sans-serif;
}
.container{
    width: 80%;
    margin: 0% auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8%;
}
#logo{
    font-size: 1.3rem;
    background:linear-gradient(to right, #f8790b,#6b04e0);
    -webkit-text-fill-color: transparent;
    background-clip: border-box;
    -webkit-background-clip:text;
}
a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-size: .9rem;
}
 #home{
    padding-bottom: 1%;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right,#f8790b,#6b04e0 );
}

#hamburger{
    display: none;
}
.intro{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8%;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right,#f8790b,#6b04e0 );
}
section{
    padding: 8% 3%;
}
aside{
    padding:8% 3% ;
}
aside p{
    color: white;
    line-height:28px;
}
#hi{
    color: white;
    font-size:x-large;
}
.hello img{
    vertical-align: middle;
}
main{
    color: white;
    margin: 5% 0%;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right,#f8790b,#6b04e0 );
}
.digit{
    text-transform: uppercase;
    text-align: center;
    margin-bottom:2% ;
}
.help{
 text-align: center;
}
.item{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 0%;
}
.card{
    padding: 0% 4%;
}
.card img{
    width:50px;
    height: 50px;
}
.card p{
    line-height: 24px;
}
.card h4{
    text-transform: capitalize;
    background:linear-gradient(to right, #f8790b,#6b04e0);
    -webkit-text-fill-color: transparent;
    background-clip: border-box;
    -webkit-background-clip:text;
    
}
/************tablet break point*************/
@media screen and (max-width: 768px) {
    nav{
        display: none;
    }
    #hamburger{
        padding: 5% 3%;
        text-align: right;
        display: block;
    }
    .intro{
        flex-direction: column;
        justify-content: space-between;
    }
    .item{
        flex-wrap: wrap;
    }
    .card{
        flex-basis: 40%;
        margin-bottom: 5%;
    }
    .help{
        margin-bottom: 8%;
    }
}
@media screen and (max-width: 480px){
    .item{
     flex-direction: column;
     justify-content: space-between;
     flex-wrap: nowrap;
    }
    .card{
        flex-basis: 100%;
    }
    .help{
        text-align: left;
    }
}